{% extends 'base.html.twig' %}

{% block title %}Mes projets{% endblock %}

{% block body %}
    <h1 class="project-title">Parlons projets</h1>
    <div class="project-page">
    <div class="project">
        <div class="project-display">
        {% for oneProject in project %}
            <p> ['{{ oneProject.name }}' ,
                'Réalisé en' =>  '{{ oneProject.year }}' ,
                '{{ oneProject.description }}']<br><a target="_blank" href="{{ oneProject.github }}">{lien vers le code par ici}</a></p>
            <p>Les technos utilisées pour ce projet :
                {% for techno in oneProject.technologies %}
                    {{ techno.name }}
                {% endfor %}
            </p>
            <a href="#" class="project-img" ><img class="project-img" src="{{ oneProject.picture }}" alt="screenshot project one"></a>
        {% endfor %}
        </div>
    </div>
{% endblock %}