{% extends 'base.html.twig' %}

{% block title %}Mes projets{% endblock %}

{% block body %}

    <h1 class="project-title">Mes projets</h1>
    <div class="project-page">
        <div class="project">
            <p> {{ project[0].name }} -
            Réalisé en :  {{ project[0].year }}
            {{ project[0].description }}</p>
                <img class="project-img" src="{{ asset('build/images/PROJET1.png') }}" alt="screenshot project one">
        </div>

        <div class="project">
                <img class="project-img" src="{{ asset('build/images/PROJET2.png') }}" alt="screenshot project two">
            <p>{{ project[1].name }} -
            Réalisé en :  {{ project[1].year }}
            {{ project[1].description }}</p>

        </div>

        <div class="project">
            <p>{{ project[2].name }} -
           Réalisé en :  {{ project[2].year }}
            {{ project[2].description }}</p>
                <img class="project-img" src="{{ asset('build/images/PROJET3.png') }}" alt="screenshot project three">
        </div>
    </div>
{% endblock %}
